body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2; 
}

.container {
    margin-top: -2%;
}

header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background: #5079ca;
    
}

header h1 {
    margin: 0;
    font-size: 30px;
    margin-left: 15px;
    color: white;
}


nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 0.5rem 1rem; 
}

nav a:hover {
    text-decoration: underline;
}

.inter-container {
    background: #2d9e45; 
    border-radius: 10px; 
    color: white; 
}


.inter-container .form-label {
    color: white;
}

.inter-container h2,
.inter-container h4 {
    color: white;
}