body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin-bottom: 20px;
    background: #5079ca;
}

header h1 {
    margin: 0;
    font-size: 30px;
    margin-left: 15px;
    color: white;
}

nav a {
    margin-left: 75px;
    margin-top: 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

nav a:hover {
    text-decoration: none;
}


footer {
    position: fixed;
    margin-top: 25%;
    background: #e0e0e0;
    padding: 10px;
    text-align: center;
    font-size: 12px;
    position: relative;
}

.container {
    margin-top: -2%;
}
